*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-shadow: 2px 1px 1px #000;
  border: none;
}
:root {
  --palette-darkest: #00202e;
  --palette-dark: #003f5c;
  --palette-blue: #2c4875;
  --palette-purple: #8a508f;
  --palette-pink: #bc5090;
  --palette-salmon: #ff6361;
  --palette-orange: #ff8531;
  --palette-yellow: #ffa600;
  --palette-light: #ffd380;
}
body {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
  height: 100vh;
}
